<div *ngIf="project">
    <div class="valid">
        <h2 class="pr-name">Project: {{project.name}}</h2>
        <p>Description: {{project.description}}</p>
    </div>

    <div>
        <h3>Status:
            <span [ngClass]="{'passed':flag ,'failed':!flag}">
                {{getLastRun()}} {{testRun.status}}
            </span>
        </h3>
        <h4>Last 5 runs:</h4>
    </div>
</div>


{{sortByRunId()}}
<table id="users">
    <tr>
        <th>Run</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let run of project.testRuns.slice(0, 5); let i = index" [ngClass]="run.status | lowercase">        
        <td>
            <a [routerLink]="['/projects', project.id,'runs', run.runForProject]">
                #{{run.runForProject}}
            </a>
        </td>
        <td>
            {{run.status}}
        </td>
    </tr>
</table>