<!-- <p>project-details works!</p>
N: {{currentProject.name}}
<br>
D: {{currentProject.description}}
 -->


<div *ngIf="project">
    <div class="valid">
        <h2 class="pr-name">Project: {{project.name}}</h2>
        <p>Description: {{project.description}}</p>
    </div>

    <!-- <div *ngFor="let run of project.testRuns">
        <p>{{run.status}}</p>
        <p>{{run.runForProject}}</p>
    </div> -->

    <div>
        <!-- <div *ngIf="testRun">
            <h3>Status: {{testRun.status}}</h3>
        </div> -->
        <h3>Status:
            <span [ngClass]="{'passed':flag ,'failed':!flag}">
                {{getLastRun()}} {{testRun.status}}
            </span>
        </h3>

        <!-- <h3>Status: {{getLastRun()}} {{testRun.status}}</h3> -->
        <!-- <h3>Status: {{project.testRuns[0].status}}</h3> -->
        <h4>Last 5 runs:</h4>
    </div>
</div>


<table id="users">
    <tr>
        <th>Run</th>
        <th>Status</th>
    </tr>
    {{sortByRunId()}}
    <tr *ngFor="let run of project.testRuns.slice(0, 5); let i = index" [ngClass]="run.status | lowercase">
        <td *ngFor="let column of headers ">
            {{run[column]}}
        </td>
    </tr>

</table>