<h2>Projects:</h2>
<!-- <div *ngFor="let post of projects">
    {{post.name}}
  </div> -->



<div *ngIf="(projects$ | async) as projects">
    <div *ngFor="let post of projects">
        <h3>
            <a [title]="post.name + ' details'" [routerLink]="['/projects', post.id]">
                {{ post.name }}
            </a>
        </h3>
    </div>
</div>
<div *ngIf="!projects$">Loading...</div>

<!-- <app-project-details [projects]="projects$"></app-project-details> -->
<!-- <div *ngIf="(projects$ | async) as projects">
    <div style="color: red" *ngFor="let post of projects">
       Name: {{post.name}} <br> ID: {{post.id}}
    </div>
</div>
<div *ngIf="!projects$">Loading...</div> -->

<router-outlet></router-outlet>